@model IEnumerable<TallinnaRakenduslikKolledz.Models.Delinquent>

<h1>Delinquent List</h1>
<p>
	<a asp-action="Create">Add a delinquent</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.FirstName)</th>
			<th>@Html.DisplayNameFor(model => model.LastName)</th>
			<th>@Html.DisplayNameFor(model => model.Violation)</th>
			<th>@Html.DisplayNameFor(model => model.Violator)</th>
			<th>@Html.DisplayNameFor(model => model.Description)</th>
			<th>Tools</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var delinquent in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => delinquent.FirstName)</td>
				<td>@Html.DisplayFor(modelItem => delinquent.LastName)</td>
				<td>@Html.DisplayFor(modelItem => delinquent.Violation)</td>
				<td>@Html.DisplayFor(modelItem => delinquent.Violator)</td>
				<td>@Html.DisplayFor(modelItem => delinquent.Description)</td>
				<td>
					<a asp-action="Edit" asp-route-id="@delinquent.Id">Edit</a>
					<a asp-action="Details" asp-route-id="@delinquent.Id">Details</a>
					<a asp-action="Delete" asp-route-id="@delinquent.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
