@model TallinnaRakenduslikKolledz.Models.Instructor
{
	ViewData["Title"] = "Delete Student";
}

<h1>Delete Instructor</h1>
<h3>
	U SURE YOU WANT TO EXTERMINATE THE STUDENT NAMED @Html.DisplayFor(model => model.FullName)
</h3>

<div>
	<h4>Instructor</h4>
	<hr/>
	<dl class="row">
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastName)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.LastName)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstName)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.FirstName)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.Email)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.PhoneNumber)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.CourseAssignments)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.CourseAssignments)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.OfficeAssignment)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.OfficeAssignment)</dt>
		<dt class="col-sm-2">@Html.DisplayNameFor(model => model.HireDate)</dt>
		<dt class="col-sm-2">@Html.DisplayFor(model => model.HireDate)</dt>
	</dl>
	<form asp-action="Delete">
		<input type="hidden" asp-for="ID"/> 
		<input type="submit" value="btn btn-danger" /> | <a asp-action="Index">Back</a>
	</form>
</div>