@model IEnumerable<TallinnaRakenduslikKolledz.Models.Course>

@{
	ViewData["Title"] = "Kursused";
}
<h1>Kursuste loend:</h1>
<p>
	<a asp-action="Create">Sisesta Kursus</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Credits</th>
			<th>Tööriistad</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var course in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => course.Title)</td>
				<td>@Html.DisplayFor(modelItem => course.Credits)</td>

				<td>
					<a asp-action="Edit" asp-route-id="@course.CourseId">Muuda</a>
					<a asp-action="Details" asp-route-id="@course.CourseId">Vaata</a>
					<a asp-action="Delete" asp-route-id="@course.CourseId">Kustuda</a>
				</td>
			</tr>
		}
	</tbody>
</table>